.header{
    width: 608px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header h1{
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.045em;

    color: #333333;
}
.header ul{
    height: 25px;
    display: flex;
    justify-content: space-around;
    border-bottom:1px solid #BDBDBD;

}
.header ul li a{
    padding: 0 25px 7px 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #333333;
}
.header ul li a.active{
    
    border-bottom: 3px solid #2F80ED;
}
