.tasks{
    margin-top: 30px;
    width: 608px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.task {
    display: flex;
    justify-content: space-between;
}
.task .taske{
    display: flex;
}
.tasks button{
    cursor: pointer;
    width: 124px;
    height: 40px;
    margin-top:50px;
    
    background: #EB5757;
    border: none;
    border-radius: 4px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.tasks label {
    margin-bottom: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-decoration: line-through;
color: #000000;
}
.tasks label.completed{
    text-decoration-line: line-through;
}
.tasks span{
    cursor: pointer;
}
.tasks input{
    margin-right: 7px;
    width: 24px;
    height: 24px;
    /* Gray 3 */

    border: 1px solid #828282;
    border-radius: 4px;
}
